html {
	margin: 0;
	padding: 0;
	}
#top {
    background-color: yellow;
    padding: 10px
}

.intro {
    color: red;
    font-weight: bold;
}

body {
    background-color:white-space;
}
header {
    background-color: green;
}
div{
   font-size:20px;
   font-style:oblique;
   background-color:cyan;
}

<style type="text/css">
 
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style>

nav {
    border: 1px solid black;
    background-color:red;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

title.normal {
    font-style: oblique;
}
p {
    color: blue;
	font-size:20px;
} 

h{
  color:blue;
  font-size:1px;
}
footer{
     font-style:italic;
	 font-color:#0000FF;
	 background-color: red;
 }

ul{
  font-size:20px;
  font-color:black;
}

  
  